{% extends "base.html" %}
{% block title %}
	Home Page
{% endblock %}

{% block content %}
	<section id="socialMedia">
		<ul>
			<li><a href="https://github.com/michaelk7" target="_blank">
				<i class="fab fa-github"></i>
			</a></li>
			<li><a href="https://linkedin.com/in/michael-kelnar-23b8b8189" target="_blank">
				<i class="fab fa-linkedin-in"></i>
			</a></li>
			<li><a href="https://www.instagram.com/michael_kelnar/" target="_blank">
				<i class="fab fa-instagram"></i>
			</a></li>
		</ul>
	</section>
	<section id="showcase">
		<div class="container">
			<h1>Hello world! My name is Michael Kelnar</h1>
		</div>
	</section>

	<div class="container">
		<div class="mainBody">
			<section id="main">
				<h1>Overview</h1>
				<p>I am a computer science student at Bradley University. I specialize in full stack development and software engineering to create digital products for both business and consumer use. I'm highly motivated, collaborative in nature, and innovative in finding solutions.</p>
			</section>
			<aside id="sidebar">
				<img src="static/images/profilePicture.jpg">
				<ul>
					<li><b>Name:</b> Michael Kelnar</li>
					<li><b>Age:</b> 18</li>
					<li><b>Location:</b> Chicago, IL</li>
				</ul>
			</aside>
			<div class="box-1">Box One</div>
			<div class="box-2">Box Two</div>
			<div class="box-3">Box Three</div>
		</div>
	</div>
	
{% endblock %}