body
{
	background-color: #222831;
	color: #EEEEEE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

.container
{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#main-header
{
	background-color: #222831;
	color: #FF5722;
	text-align: center;
}

#navbar
{
	background-color: #2D4059;
	color: #EEEEEE;
	text-align: center;
}

#navbar ul
{
	padding: 0;
	list-style: none;
}

#navbar li
{
	display: inline;
}

#navbar a
{
	color: #EEEEEE;
	text-decoration: none;
	font-size: 18px;
	padding: 15px;
}

#resume
{
	border: 2px solid #FF5722;
	text-align: center;
	padding: 5px;
}

#resume:hover
{
	background: rgba(255, 86, 34, 0.3);
}

#socialMedia
{
	position: fixed;
	margin: 0;
	width: 7.5%;
	background: #EEEEEE;
	opacity: 0.3;
}

#socialMedia ul
{
	list-style-type: none;
	font-size: 24px;
}

#socialMedia li
{
	padding-bottom: 15px;
}

#socialMedia a
{
	color: #FF5722;
}

#socialMedia:hover
{
	opacity: .6;
}

#showcase
{
	box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);
	background: url("../images/blue.png");
	background-size: cover;
	background-position: center center;
	min-height: 300px;
	margin-bottom: 30px;
	text-align: center;
}

#showcase h1
{
	color: #EEEEEE;
	font-size: 50px;
	line-height: 1.6em;
	padding: auto;
}

#main
{
	padding: 0 30px;
	box-sizing: border-box;
	grid-column: 1/3;
}

#main h1
{
	color: #FF5722;
}

#main p 
{
	font-size: 18px;
}

#sidebar
{
	background: #2D4059;
	color: #EEEEEE;
	padding: 10px;
	box-sizing: border-box;
}

#sidebar img
{
	border-radius: 50%;
	border: 3px solid #FF5722;
	width: 80%;
	height: auto;
	margin-right: 10%;
	margin-left: 10%;
}

.mainBody
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(200px, auto);
	grid-column-gap: 1em;
	grid-row-gap: 3em;
}

.box-1
{
	background: #2D4059;
}

.box-2
{
	background: #2D4059;
}

.box-3
{
	background: #2D4059;
}

#main-footer
{
	background: #2D4059;
	color: #EEEEEE;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}

@media(max-width: 600px)
{
	#main
	{
		width: 100%;
		float: none;
	}

	#sidebar
	{
		width: 100%;
		float: none;
	}
}

.form-group
{
	padding: 10px;
}

.card
{
	display: inline-block;
	margin: auto;
	margin-top: 2em;
}